/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

nav a {
    font-family: monospace;
    font-size: 16pt;
    text-decoration: none;
    font-weight: 900;
    transition: 0.2s;
    color: dimgrey;
}

nav a:hover {
    color: lightskyblue;
}

nav div a {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    margin: 0 4px;
}

body {
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100vh;
}

button {
    display: block;
    margin-left: auto;
    margin: 0 24px 0 auto;
    border-radius: 5px;
    background: none;
    padding: 4px 4px 0px 4px;
    transition: 0.2s;
    color: grey;
    border: 1px solid transparent;
    cursor: pointer;
}

button:hover {
    background: lightgrey;
    border: 1px solid lightgrey;
}

.disabled-nav {
    cursor: default;
    color: lightgrey;
    text-decoration: line-through;
}

.disabled-nav:hover {
    color: lightgrey;
}

@media screen and (max-width: 560px) {
    nav {
        text-align: right;
    }

    #resume {
        max-width: 90vw !important;
        padding: 16px;
        overflow-x: scroll;
    }

    #resume pre {
        font-size: 4pt;
    }

    #resume pre a {
        font-size: 8pt;
    }
}