/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button {
    font-size: 11pt;
    text-decoration: none;
    transition: 0.2s;
    color: #f6f5e0;
    background: none;
    cursor: pointer;
    border: none;
}

a:hover, button:hover {
    color: #f6f5ae;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 16pt;
}

nav div a {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    margin: 0 4px;
}

body {
    background: #565554;
    min-height: 100vh;
    padding: 16px 16px;
    color: #f6f5ae;
    font-family: Arial, sans-serif;
}