/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a, button {
    font-size: 12pt;
    text-decoration: none;
    transition: 0.2s;
    color: white;
    background: none;
    cursor: pointer;
    border: none;
}

a:hover, button:hover {
    color: #e7e2c9;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 16pt;
}

nav div a {
    font-size: 14pt;
    margin: 0 4px;
}

body {
    background: rgb(89,107,100);
    background: linear-gradient(180deg, rgba(89,107,100,1) 25%, rgba(80,88,85,1) 75%);
    min-height: 100vh;
    padding: 16px 16px;
    color: #e7e2c9;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

code {
    font-size: 12pt;
    color: #dde1ff;
}

::-webkit-scrollbar { 
    display: none; 
}
