<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <title>COREDUMPED - {{ page }}</title>
    </head>
    <body>
        <nav>
            <a href="/">COREDUMPED.INFO</a>
            <div>
                <a class="disabled-nav">Blog</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>