<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        {% block styles %}{% endblock %}
        <title>c o r e d u m p e d - {{ page }}</title>
    </head>
    <body>
        <nav>
            <a href="/">coredumped.info</a>
            <div>
                <a href="/blog">&#x03bc;Blog</a>
                <a href="/blog/ctfs">CTFs</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>