<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <title>CORE_DUMPED - {{ page }}</title>
    </head>
    <body>
        <nav>
            <a href="/">CORE_DUMPED</a>
            <div>
                <a href="#">CTFs</a>
                <a href="#">Blog</a>
                <a href="/resume">Resume</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>