{% extends 'base.j2' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/blog.css" />
{% endblock %}

{% block content %}
<div id="blog">
    <ol id="blog-posts">
    {% for post, title in posts.items() %}
        <li class="blog-post-item">
            {{title}}
            <div>posted on {{ post[4:] + '/' + post[2:4] + '/' + post[:2] }}</div>
            <div class="blog-post-link">
                <button class="copy-link-button" data-post="{{post}}">copy link</button>
                <span>-</span>
                <a href="/blog/{{post}}">view post</a>
            </div>
        </li>
    {% endfor %}
    </ol>
    <hr>
    <p style="float: right; margin: 8px">blog posts: {{ posts | length }}</p>
</div>

<script src="/static/js/blog.js"></script>
{% endblock %}