{% extends 'base.j2' %}
{% block content %}

<div id="blog-posts">
    <div id="blog-posts-header">
        <h1>Blog Posts</h1>
    </div>
    <ol id="blog-posts-list">
    {% for link, title in posts.items() %}
        <li class="blog-post-item">
            <p>{{title}}</p>
            <a href="/blog/{{link}}" style="margin-top: 15px">Read Post</a>
            <span>-</span>
            <a style="cursor: pointer" onclick="navigator.clipboard.writeText('https://coredumped.info/blog/{{link}}'); this.innerText = 'Copied'">Copy Link</a>
        </li>
    {% endfor %}
    </ol>
    <hr>
    <p style="float: right; margin: 8px">blog posts: {{ posts | length }}</p>
</div>


{% endblock %}