{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/blog.css" />
{% endblock %}

{% block content %}
<div id="blog">
    <ol id="blog-posts">
    {% for post, (subtitle, group) in posts.items() %}
        <li class="blog-post-item">
            <h1>{{ group }} / {{ post }}</h1>
            <div class="blog-post-link">
                <a href="/blog/ctfs/{{ group }}/{{ post }}">view</a>
            </div>
        </li>
    {% endfor %}
    </ol>
    <hr>
    <p style="float: right; margin: 8px">blog posts: {{ posts | length }}</p>
</div>

<script src="/static/js/blog.js"></script>
{% endblock %}