{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/blog.css" />
{% endblock %}

{% block content %}
<div id="blog">
    {% for group, posts in groups.items() | reverse %}
        {% if group == 'htb' %}
            <h2>Hack the Box Writeups</h2>
        {% else %}
            <h2>{{ group | title }}</h2>
        {% endif %}
        <ol id="blog-posts">
        {% for post, title in posts.items() %}
            <li class="blog-post-item">
                <h1><a href="/blog/{{group}}/{{post}}">{{ title | safe }}</a></h1>
                <div class="blog-post-link">
                    <a class="copy-link-button" data-post="blog/{{group}}/{{post}}">Copy Link</a>
                    <a href="/blog/{{group}}/{{post}}">Read Post</a>
                </div>
            </li>
            <br />
        {% endfor %}
        </ol>
        <p style="float: right; margin: 8px">#{{ posts | length }}</p>
        <br />
    {% endfor %}
</div>

<script src="/static/js/blog.js"></script>
{% endblock %}