{% extends "base.j2" %}
{% block content %}
<center style="margin-top: 15%"><h1>Welcome to my personal website. We're just getting started.</h1></center>
<center><a href="/resume">take a look at my resume</a></center>
{% endblock %}