{% extends "base.j2" %}
{% block content %}
<center style="margin: 15% 0"><h1>Welcome to my personal website. We're just getting started.</h1></center>
<center><a href="/blog">look ma! I'm posting again!</a></center>
<center><a href="/resume">take a look at my resume</a></center>
{% endblock %}