{% extends "base.j2" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/monokai.css" />
<link rel="stylesheet" href="/static/css/post.css" />
{% endblock %}

{% block content %}
<div id="post">
{{ markdown }}
</div>
{% endblock %}