{% extends 'base.j2' %}
{% block content %}

<div><button><img src="/static/media/printer-svgrepo-com.svg" width="24" height="24"/></button></div>

<div id="resume-wrapper">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 0;
        }

        @media print {
            h2:not(:first-child) {
                padding-top: 24px;
                break-before: page;
            }
        }

        #resume {
            font-family: Arial, sans-serif;
            min-height: 279.4mm;
            width: 215.9mm;
            max-width: 215.9mm;
            padding: 24px;
            margin: 24px auto 24px auto;
            background-color: whitesmoke;
            color: dimgrey;
        }

        #resume a {
            text-decoration: none;
            color: darkslateblue;
        }

        #resume a:hover {
            color: grey;
        }

        #resume b {
            color: #2c2c2c;
        }

        #resume h1 {
            padding-left: 4px;
            margin: 8px 0px;
            color: black;
            border-bottom: 2px solid black;
        }

        #resume h2 {
            padding-left: 8px;
            margin: 8px 0px;
            color: black;
            border-bottom: 2px solid black;
        }

        #resume h3 {
            padding-right: 4px;
            margin: 16px 0;
            text-align: right;
        }

        #resume h4 {
            color: black;
            display: inline;
        }

        #resume h5 {
            display: inline;
        }

        #resume ul {
            margin-top: 2px;
            margin-bottom: 6px;
        }

        #resume li {
            margin-left: 2ch;
            margin-bottom: 4px;
        }

        #resume hr {
            color: transparent;
            border: none;
            margin: 2px 0;
        }

        #resume pre {
            color: black;
            display: inline;
        }

        #resume p {
            font-size: 9pt;
            padding: 4px;
        }

        #resume ul ul {
            font-size: 9pt;
        }

        #resume-links {
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin-left: auto;
            margin-right: 4px;
            font-size: 9pt;
        }
    </style>

    <div id="resume">
        <header>
            <h1>Jon Parker Brooks</h1>
            <h3>Fullstack Software Development - Embedded Firmware - Security</h3>
            <div id="resume-links">
                <pre><a href="tel:2146699320">Call / Text</a> - (214)669-9320</pre>
                <pre>      <a href="mailto:jonparkerbrooks@gmail.com">Email</a> - jonparkerbrooks@gmail.com</pre>
                <pre>    <a href="https://coredumped.info">Website</a> - https://coredumped.info</pre>
                <hr />
                <pre>  <a target="_blank" href="https://app.hackthebox.com/profile/129223">HackTheBox</a> - https://app.hackthebox.com/profile/129223</pre>
                <pre>    <a target="_blank" href="https://www.linkedin.com/in/parker-brooks-18160013a">LinkedIn</a> - https://www.linkedin.com/in/parker-brooks-18160013a</pre>
                <pre>      <a target="_blank" href="https://github.com/BarkerProoks">GitHub</a> - https://github.com/BarkerProoks</pre>
            </div>
        </header>

        <main>
            <h2>Experience</h2>
            <ul>
            {% for job in experience %}
                <li>
                    <h4>{{ job.name }}</h4> - 
                    <h5>{{ job.location }} | {{ job.title }}</h5>
                    <h6>From {{ ' to '.join(job.time) }}</h6>
                    <p>{{ job.description }}</p>
                </li>
            {% endfor %}
            </ul>

            <h2>Skills</h2>
            <ul>
            {% for skill in skills %}
                <li>
                    <h4>{{ skill.name }}</h4> - 
                    <h5>{{ skill.time }} - <i>{{ ', '.join(skill.subskills) }}</i></h5>
                    {% if skill.jobs | length > 0 %}
                        <h6>Work Experience</h6>
                        <ul>
                        {% for job in skill.jobs %}
                            <li><b>{{ job.name }}</b>: {{ job.work }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if skill.projects | length > 0 %}
                        <h6>Projects</h6>
                        <ul>
                        {% for project in skill.projects %}
                            <li><a href="{{ project.link }}">{{ project.name }}</a> ({{ project.year }}): <pre>[{{ project.link }}]</pre></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            
            <h2>Education</h2>
            <ul>
                <li>
                    <h4>University of North Texas</h4>
                    <h5> - Graduated 2024</h5>
                    <ul>
                        <li><pre>[ENBS-CSCI]</pre> - <i>B.S. in Computer Science - 2024</i></li>
                        <li><pre>[UACT-SCTY]</pre> - <i>Undergraduate Certificate in Security - 2024</i></li>
                    </ul>
                </li>
                <li>
                    <h4>McKinney High School</h4>
                    <h5>Graduated 2016</h5>
                    <ul>
                        <li><i>High School Diploma - 2016</i></li>
                    </ul>
                </li>
            </ul>
        </main>
    </div>
</div>

<center><small>this resume was made with love in 100% HTML/CSS <small>(with some help from jinja templates and structured data)</small></small></center>
<script src="static/js/main.js"></script>
{% endblock %}